#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input {
  padding: 0.5em;
  margin: 0.5em;
  color: #000709;
  background: #0055ff1d;
  border: none;
  border-radius: 3px;
  text-align: center;
}
.input:focus {
  outline: none;
  background: #17333b63;
  color: #282c34;
}
.button {
  padding: 0.5em 1em;
  margin: 0.5em;
  color: #282c34;
  background: #61dafb;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.button:hover {
  background: #282c34;
  color: #61dafb;
}
.button:active {
  transform: scale(0.9);
}
.button:focus {
  outline: none;
}
.button:disabled {
  background: #282c34;
  color: #888;
  cursor: not-allowed;
}
.button:disabled:hover {
  transform: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
